*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #17151d;
}

html{
    scroll-behavior: smooth;
}


.titles{
    display: flex;
    justify-content: center;

    font-size: 4vh;
    color: #FFF;
}

.nav-bar{
    display: flex;
    padding: 20px 0px 20px 50px;

}

.in-nav{
    display: flex; 
    gap: 52rem;
    color: #FFF;
}

.list-nav{
    display: flex;
    gap: 30px;

    align-items: center;
}

.list-nav a{
    text-decoration: none;
    font-size: 2.6vh;
    color: #FFF;
}

.list-nav a:hover{
    color: rgb(85, 34, 187);
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    
}

.header{
    padding: 70px 70px 300px 70px;
}

.in-header{
    color: white;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}

.text-header{
    display: grid;
    align-items: center;

    font-size: 4vh;
}

.text-header .mod{
    background-image: linear-gradient(to top, rgb(83, 50, 150), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.text-header h2{
    padding-top: 80px;
}

.text-header p{
    text-align: justify;

    font-size: 3vh;
    padding: 20px 80px 40px 0px;
}

.text-header h5{
    font-size: 4vh;
}

.img-test img{
    display: flex;
    height: 440px;
    background-color: white;
    border-radius: 20px;
}

.sobre{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
    padding: 100px 300px 300px 300px;
}

.img-sobre{
    display: flex;
    margin: auto;

    height: 300px;
    
}

.img-sobre img{
    box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 50%;
    border: 5px solid #FFF;
}

.card-sobre1{
    display: flex;
    width: 400px;

    box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    background-color: #FFF;

    border-radius: 150px 20px 150px 20px;

    flex-direction: column;
    padding: 80px 100px;
    gap: 10px;
    

    list-style: none;
    font-size: 3vh;
}



.card-sobre{
    box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

   
    background-color: #FFF;
    border-radius: 70px 10px 70px 10px;

    flex-direction: column;
    padding: 80px 60px;
    margin: auto;
    gap: 10px;

    list-style: none;
    font-size: 3vh;

    display: none;
}

.skils h5{
    display: flex;
    align-items: center;
    font-size: 3vh;
}

.habs{
    display: flex;
    gap: 20px;
    padding-top: 10px;

    list-style: none;
}

.habs li{
    background-color: #000;
    border: 2px solid white;
    border-radius: 10px;
    padding: 3px;
    box-shadow: -5px 5px;
}

.habs li:hover{
    border: 2px solid rgb(85, 34, 187);
    padding: 3px;
    box-shadow: -2px 1px black;
}

.projetos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;

    padding: 100px 50px 300px 50px;
    gap: 50px;
    color: #FFF;
}

.card-proj{
    display: flex;
    flex-direction: column;
    gap: 10px;

    border: 2px solid white;
    border-radius: 20px;
}

.card-proj h5{
    display: flex;
    justify-content: center;
    font-size: 4vh;
}

.card-proj p{
    text-align: center;
    padding: 10px;
}

.card-proj img{
    border-radius: 20px;
}

.card-proj:hover{
    border: 2px solid rgb(85, 34, 187);
}

.contact-me{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    background-color:  rgb(85, 34, 187);
    padding: 40px;
    color: #FFF;
}

.cards-c{
    display: flex;
    align-items: center;
    gap: 20px;
}

.card-contact{
    display: flex;
    align-items: center;

    padding:10px;
    gap: 20px;

    border: 2px solid #FFF;
    border-radius: 50%;
}

.card-contact img{
    height: 45px;
}

.card-contact:hover{
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.376);
    backdrop-filter: blur(10px);
    border: none;
}

@media screen and (width < 400px){
    .titles{
        display: flex;
        justify-content: center;
        padding: 20px;

        font-size: 3vh;
        color: #FFF;
    }
    
    .nav-bar{
        justify-content: center;
        padding: 20px;
    }
    
    .list-nav{
        display: none;
    }
    
    .header{
       justify-content: center;
       padding: 100px 0px 200px 0px;
    }
    
    .in-header{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
    }
    
    .text-header{
        display: flex;
        flex-direction: column;
        gap: 20px;

        align-items: center;
        text-align: center;
    
        font-size: 3vh;
    }
    
    .text-header h2{
        padding-top: 0px;
    }
    
    .text-header p{
        padding: 0px;
        text-align: center;
    }

    .img-test img{
        display: flex;
        height: 240px;
        background-color: white;
        border-radius: 10px;
    }

    .sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        padding: 20px 0px 200px 0px;
    }
    
    .img-sobre{
        display: flex;
        margin: auto;   
        height: 240px;
    }
    
    .img-sobre img{
        box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        border-radius: 50%;
        border: 5px solid #FFF;
        
        height: 200px;
    }
    
    .card-sobre1{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        width:300px;

        font-size: 2.5vh;
        box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        background-color: #FFF;
        border-radius: 75px 10px 75px 10px;
    } 
    
    .text-sobre{
        display: flex;
        flex-direction: column;
        gap: 10px;
        
    }

    .skils h5{
        padding-top: 0px;
        font-size: 3vh;
        
    }

    .habs{
        display: flex;
        align-items: center;
        
        gap: 20px;
        padding-top: 10px;
    
        list-style: none;
    }
    
    
    .projetos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    
        padding: 20px 10px 200px 10px;
    }
    
    
    .card-proj img{
        height: 200px;
        border-radius: 20px;
    }
    
    
    .contact-me{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    
        padding: 20px;
    }

    .contact-me h3{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    
    .cards-c{
        display: flex;
        justify-content: center;
    }
    
    .card-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card-contact img{
        height: 30px;
    }
    
}
:-webkit-scrollbar-track{
    background-color: black;
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(83, 50, 150);
    width: 6px;
    height: 6px;
    border-radius: 10px;
}